<div class="row">
  <div style="width: 1.5%; float:left;"></div>
  <div style="width: 30%; float:left;"></div>
  <div class="formBKG" style="width: 30%; float:right;">
    <br/>
    <div class="col-md-12">
      <form [formGroup]="ratingForm">
        <div class="form-group">
          <h2>Welcome to D3OP Ratings</h2>
          <label>Select Laptop Model Name</label>
          <select class="form-control"  placeholder="select" id="laptops" formControlName="laptopname" (change)="modelSelected($event)">
              <option value="" disabled="true" >--select--</option>
            <option *ngFor="let laptop of laptops" [value]="laptop.name">{{laptop.name}}</option>
          </select>
          <br/>
          <img [src]="selectedImage" width="400px">
          <div>
            <br/>
          </div>
          <div [hidden]="ratingHidden">
            
            Average Rating:
            <ngb-rating readonly=true [(rate)]="avgRate"></ngb-rating>
            &nbsp; <b>{{avgRating}}</b>&nbsp;&nbsp;
            <button class="btn btn-primary btn-sm" [disabled]="!ratingSubmitted" (click)="getAvgRating()">Show</button>
            <br/>
            <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please Rate:
            <ngb-rating [(rate)]="currentRate"></ngb-rating>
            &nbsp;<b>{{currentRate}}</b>&nbsp;
            <button class="btn btn-primary btn-sm" [disabled]="!ratingSubmitted" (click)="submitRating()">Rate</button>
          </div>
        </div>
        <br/>
        <!--<div class="form-group">
          <button style='margin-right:45px' class="btn btn-primary">Book Appointment</button>
        </div>-->
      </form>
    </div>
  </div>
  <div style="width: 30%; float: right;"></div>
</div>